input {
  width: 550px;
}
.aa {
  margin-left: 720px;
  margin-top: 10px;
}
.a {
  background-color: orange;
}
.ab {
  margin-left: 600px;
  margin-top: -27px;
}
.ac {
  background-color: gainsboro;
}
.Ed {
  margin-left: 500px;
}
.Fa {
  margin-left: 500px;
}
.EE {
  margin-left: 600px;
}
.Pr {
  margin-left: 410px;
}
.Ex {
  margin-left: 30px;
}
.Et {
  margin-left: 580px;
}
.Ea {
  margin-left: 20px;
}
.abc {
  margin-left: 800px;
  margin-top: 40px;
}
.abcd {
  margin-left: 550px;
  margin-top: 32px;
}
.baa {
  margin-left: 100px;
  margin-top: 6px;
}
.A3 {
  margin-left: 550px;
}
.A4 {
  margin-left: 450px;
}
